.appointment-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.appointment-section h1 {
    text-align: center;
    color:#9b50c9;
    margin-bottom: 2rem;
    font-size:4rem;
}

.appointment-form {
    display: grid;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-weight: 500;
    color: var(--secondary-color);
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.submit-button {
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color:#9b50c9;
} 
    
    
.submit-button:hover {
    
    transform: translateY(-2px);
    box-shadow: var(--shadow-lg);
  }
  